<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jungleekart</title>
    <link rel="stylesheet" href="lp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <header class="sticky">
        <a href="#" class="logo"><h1>JungleeKart</h1></a>
        <ul class="navbar">
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <div class="icons">
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="#"><i class="fa-solid fa-user"></i></a>

            <div class="bx bx-menu" id="menu-icon">
            </div>
        </div>

    </header>
    
    <section class="home">
        <div class="home-text">
            <h4>Find the Best</h4>
            <h1>Exclusive offers</h1>
            <a href="#" class="btn">explore now</a>
        </div>

        <div class="home-img">
        </div>
        </div>
    </section>

    <section class="feature">
        <div class="middle-text">
            <h2>Discover more <span>Good things.</span></h2>
        </div>

        <div class="content">
            <div class="row row1">
                <div class="main">
                    <div class="roe-text">
                        <h6>
                            Explore new arrivals
                        </h6>
                        <h3>Top Gadgets</h3>
                        <a href="#" class="row-btn">
                            show me all
                        </a>
                    </div>
                    <div class="row-img">
                        <img src="sampleimages/iphon12.png" style="height: 130px;width: 130px;margin-left: 10px;" class="img1">
                    </div>
                </div>
            </div>

            <div class="row row2">
                <div class="main">
                    <div class="roe-text">
                        <h6>
                            Explore new arrivals
                        </h6>
                        <h3>Footwears</h3>
                        <a href="#" class="row-btn">
                            show me all
                        </a>
                    </div>
                    <div class="row-img">
                        <img src="sampleimages/shoe.png" class="img2">
                    </div>
                </div>
            </div>

            <div class="row row3">
                <div class="main">
                    <div class="roe-text">
                        <h6>
                            Explore new arrivals
                        </h6>
                        <h3>adventures</h3>
                        <a href="#" class="row-btn">
                            show me all
                        </a>
                    </div>
                    <div class="row-img">
                        <img src="sampleimages/cycle.png" class="img3">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product">
        <div class="middle-text">
            <h2>New Arrivals<span>Best selling of the season</span></h2>
        </div>

        <div class="product-content">
            <div class="box">
                <div class="box-img">
                    <img src="shirt.jpeg" class="bx">
                </div>
                <h3>Checked Shirt</h3>
                <h4> Brand : Roadster</h4>
                <div class="inbox">
                    <div>
                        <a href="#" class="price">Rs. 599</a>
                    </div>
                    <div class="rating">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                    </div>
                </div>
                <div class="heart">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>

            <div class="box box2">
                <div class="box-img">
                    <img src="jeans.avif" class="bx">
                </div>
                <h3>denim jeans</h3>
                <h4> Brand : Roadster</h4>
                <div class="inbox">
                    <div>
                        <a href="#" class="price">Rs. 649</a>
                    </div>
                    <div class="rating">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                    </div>
                </div>
                <div class="heart">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>

            <div class="box box2">
                <div class="box-img">
                    <img src="denim.jpeg" class="bx">
                </div>
                <h3>denim jacket</h3>
                <h4> Brand : wrogn</h4>
                <div class="inbox">
                    <div>
                        <a href="#" class="price">Rs. 1129</a>
                    </div>
                    <div class="rating">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                    </div>
                </div>
                <div class="heart">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>

            <div class="box box2">
                <div class="box-img">
                    <img src="frock.jpeg" class="bx">
                </div>
                <h3>Women's frock</h3>
                <h4> Brand : Aurelia</h4>
                <div class="inbox">
                    <div>
                        <a href="#" class="price">Rs. 899</a>
                    </div>
                    <div class="rating">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                    </div>
                </div>
                <div class="heart">
                    <i class="fa-regular fa-heart"></i>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="ip.js"></script>
    
</body>
</html>
